/* 
    Document   : profile_format
    Created on : August 19, 2012, 10:50:25 AM
    Author     : Gacheru Evans
    Description:
	Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@import "style.css";
div#loginbutton{
    position: relative;
    top:180px;
    z-index: 3;
}
div#logo_container{
    position:relative;
    
}
body{
    background: -webkit-radial-gradient(circle, #ffffff, #f9f9fa, #f9f9fa); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle,#ffffff, #f9f9fa, #f9f9fa); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle,#ffffff, #f9f9fa, #f9f9fa); /* For Fx 3.6 to 15 */
    background: radial-gradient(circle,#ffffff, #f9f9fa, #f9f9fa); /* Standard syntax (must be last) */

}
body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
div#link{
    top:120px;
    position: relative;

}  
.modal-backdrop {background: #f7f7f7;}

div#header{
   
    top:0px;
    position: fixed;
    height:75px;
    left:0px;
    top:0px;
    margin:  0 auto;
    width:100%;
    z-index: 2;
    background-color:#transparent;
    border-bottom:20px solid #0018ff;
   /* box-shadow: 0px 10px 10px #888888;
    */ -webkit-box-shadow:  0px 5px 15px #888888;
       -moz-box-shadow:  0px 5px 15px #888888;
            box-shadow:  0px 5px 15px #888888;
}
div#logo{
    top:0px;
    height:55px;
    /*border-radius:1px;*/
    position: relative;
    font-weight: 5px;
    margin: 0 auto;
    background-color: #ffffff;
    width:100%;

    
    
}
div#log_bar{
    top:20px;
    position: relative;
    width:100%;

    -webkit-box-shadow:  0px 5px 15px #888888;
       -moz-box-shadow:  0px 5px 15px #888888;
            box-shadow:  0px 5px 15px #888888;
}
div#login_form{
    top:180px;
    border-radius:1px;
    position:relative;
    background-color: #ffffff;
    
    margin: 0 auto;
    font:12px/1.2 'Sans-Serif',Arial,Segoe UI ;
    
    -webkit-box-shadow: 7 10px 10px -3px black;
       -moz-box-shadow: 7 10px 10px -3px black;
            box-shadow: 7 10px 10px -3px black;
    
}


div#home_navbar{
    position: relative;
    margin: 0 auto;
    width:100%;
    left:0px;
    bottom:2px;
}
div#list_view_navbar{
    position: relative;
    margin: 0 auto;
    border-top:1px solid #ffffff;
    
    
}
div#sidenav{
	top:152px;
	width:210px;
	margin:0px;
	
	z-index: -0.9999;
	float:left;
	left:0px;
	position: relative;
}
div#form_wrapper_lists{
    top:120px;
    border:0px solid #c0c0c0;
    margin:0 auto;
    position: relative;
    width:100%;
    height:100%;
    z-index: -0.9999;
    bottom:28px;
    background-color:#ffffff;
    
}
div#form_wrapper{
    top:120px;
    border-radius:4px;
    margin:0 auto;
    position: relative;
    width:100%;
    height:100%;
    z-index: -0.9999;
    bottom:28px;
    background-color:#ffffff;
    
}
div#log_wrapper_lists{
    
    top:143px;
    position: relative;
    width:100%;
    height:100%;
    background-color:#ffffff;
    
}
div.scroll{
    padding:8px;
    overflow:auto;
}
#system_nav {
    
    top: 115px;
    position: relative;
    padding:4px;
    margin: 0 auto;
    float:right;
    right:1px;
    padding-right:0px;
    overflow: hidden;
    margin-bottom: 0px;
   
}
.system_nav_link {
	border-radius:2px;
	padding:4px;
	background-color: #d9e6ff;
	height: 40px !important;
	line-height: 20px !important;
	/*border-right:1px dotted Gray;*/
	word-spacing: 1px !important;
	font-size: 12px !important;
	letter-spacing: 1px !important;
}
.system_nav:hover{
    border-radius:2px;
	background-color: #e6ffe6;
	padding: 4px;
}
.subdivider{
    border-bottom:1px solid #eaeaea;
}
#add{
    position: relative;
    bottom:30px;
}
#p{
     position: relative;
     margin: 0 auto;
     width:950px;
}
#performance_form{
     position: relative;
     margin: 0 auto;
     width:950px;
}
#cf{
     position: relative;
     margin: 0 auto;
     width:950px;
}
#c{
     position: relative;
     margin: 0 auto;
     width:950px;
}

#sub_menu {
	width:100%;
    padding: 4px;
	position: relative;
	margin: 0 auto;
	background-color: #ffffff;
	border-bottom:1px solid #f2f2f2;
	overflow: hidden;
	margin-bottom: 0px;
    top:115px;
	z-index: 1;
	
}
#sub_menu_analyst {
    top:20px;
    width:100%;
    padding: 4px;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom:1px solid #f2f2f2;
    overflow: hidden;
    margin-bottom: 0px;
    top:115px;
    z-index: 1;
    
}

.sub_menu_link {
	left:0px;
	border-right:1px dotted Gray;
	background-color: transparent;
	height: 40px !important;
	line-height: 30px !important;
	padding: 4px;
	word-spacing: 2px !important;
	font-size: 12px !important;
	letter-spacing: 1px !important;
	
}
#mid_sub_menu {
    width:100%;
   /* padding: 4px;*/
    position: relative;
    margin: 0 auto;
    background-color: #0000ff;
    border-bottom:1px solid #f2f2f2;
    overflow: hidden;
    margin-bottom: 0px;
    bottom:28px;
   
    
}
.mid_sub_menu_link {
    left:0px;
    border-radius: 4px;
    background-color: #000000;
    height: 40px !important;
    line-height: 30px !important;
    padding: 4px;
    word-spacing: 2px !important;
    font-size: 12px !important;
    letter-spacing: 1px !important;
    
}
.mid_sub_menu:hover{
    padding: 4px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.sub_menu:hover{
    padding: 4px;
	background-color: #f8f8f8;
}
.sub_menu:active{
    padding: 4px;
	background-color: #000000;
}
.current{
    padding: 4px;
    background-color: #e6ffe6;
}
#linknav{
    position: relative;
    margin: 0 auto;
    border-bottom:1px solid #f2f2f2;
}
#top_menu {
	position: relative;
	left:0;
	overflow: hidden;
	margin-bottom: 0px;
}
.top_menu_link {
	height: 30px !important;
	line-height: 30px !important;
	font-size: 12px !important;
	letter-spacing: 1px !important;
}
div#form_wrapper_updates{
    top:150px;
    margin: 0 auto;
    position: relative;
    float: right;
    right:50px;
    width:950px;
    height:100%;
    background-color:transparent;
}
div#account_lists{
    top:0px;
    margin: 0 auto;
    position: relative;
    width:100%;
    height:auto;
    background-color:#fdfdfd;
    border:0px solid #0000ff;
    
}
div#forms{
    top:0px;
    margin: 0 auto;
    position: relative;
    width:100%;
    /*background-image: url('../images/bg_darkstripes.png');*/
    height:auto;
    background-color:#fdfdfd;
    border-radius:4px;
    border:0px solid #bfbfbf;
    
}

div#record_lists{
    top:35px;
    margin: 0 auto;
    position: relative;
    width:100%;
    height:auto;
    background-color:#fdfdfd;
    border:0px solid #0000ff;
    
    
}
div#log_lists{
    top:9px;
    margin: 0 auto;
    position: relative;
    width:100%;
    height:auto;
    background-color:#fdfdfd;
    border:0px solid #0000ff;
    
    
}
#footer {
    margin: 0 auto;
    position: relative;
    top: 160px; /* negative value of footer height */
    height: 180px;
    clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
.repeat_btn{
    padding: 2px;
    background-color:#ff6724;
    color:#ffffff;
    border-radius:4px;
}
.reagents{
    padding: 2px;
    background-color:#ff6724;
    color:#ffffff;
    border-radius:4px;
}
.reagents:hover{
    padding: 2px;
    background-color:#ffffff;
    color:#0000ff;
    border-radius:4px;
}
.results{
    background-color:#000;
    color:#ff0000;
}

.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
    z-index: -2;


}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #3276b1;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #3276b1;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #3276b1;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}
.board{
    -webkit-transform: perspective(700px) rotateX(60deg);
    -moz-transform: perspective(700px) rotateX(60deg);
    -ms-transform: perspective(700px) rotateX(60deg);
    -o-transform: perspective(700px) rotateX(60deg);
    transform: perspective(700px) rotateX(60deg);
}